<div class="container">
    <div class="book-list">
        <div
        class="book-card"
        *ngFor="let book of books"
        (click)="goToDetails(book)">

        
          
           <ng-container *ngIf="book.thumbnailUrl; else noImage">
            <img [src]="book.thumbnailUrl"/>
           </ng-container>

           <ng-template #noImage>
            <img src="assets/no_image.png" />

           </ng-template>
           <p>{{book.title}}</p> 
           <P style="color: darkblue; font-size: 0.8em;"> <strong>Authors</strong> {{book.authors.join(',')}}</P>
        </div>
    </div>
</div>
